$primary: #e78617;

@import "../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

html::-webkit-scrollbar,
#listingsDiv::-webkit-scrollbar,
#myListingsDiv::-webkit-scrollbar,
.modal-comments::-webkit-scrollbar,
.modal::-webkit-scrollbar,
.modal-body::-webkit-scrollbar {
  height: 12px;
}

html::-webkit-scrollbar-thumb,
#listingsDiv::-webkit-scrollbar-thumb,
#myListingsDiv::-webkit-scrollbar-thumb,
.modal-comments::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb,
.modal-body::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

html * {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

nav {
  z-index: 100;
  position: absolute;
}

.arrowLeft,
.arrowRight {
  z-index: 100;
  position: absolute;
  top: 27rem;
  width: 5vw;
  opacity: 1;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.arrowLeft:hover,
.arrowRight:hover {
  scale: 1.1;
}

.arrowLeft {
  left: 1rem;
}

.arrowRight {
  right: 1rem;
}

#arrowLeftMy {
  left: 7rem;
}

#welcomeLogo {
  position: absolute;
  width: 100px;
}

#welcomeLogoDiv {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: 2000;
  cursor: pointer !important;
}

.logoLink2 {
  background-image: url("../../assets/logo.png");
  width: 100px;
  height: 21px;
  background-size: cover;
  margin: 0 0 0.3rem 1rem;
  cursor: pointer;
  z-index: 1000;
}

main {
  min-height: 80vh;
  background-color: rgb(255, 254, 254);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerModal,
.welcomeModal {
  margin-top: 5rem;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.credits {
  height: 1rem;
  margin-bottom: -0.1rem;
}

#credits {
  margin: 0 0.2rem 0 0;
  font-weight: 600;
  font-size: 1.3rem;
}

.creditsDiv {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  gap: 8vw;
}

#listingsDiv,
#myListingsDiv {
  margin-top: 5rem;
  z-index: 99;
  max-width: 1300px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

#myListingsDiv {
  width: 75vw;
}

a {
  cursor: pointer;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listingDiv {
  height: 38rem;
}

.modal-profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

#modalImage {
  width: 25rem;
  height: 10rem;
  object-fit: cover;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

.postModal {
  overflow: hidden;
  width: 25rem;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.modal {
  margin: 0.4rem;
}

.modal-comments {
  height: 9rem;
  overflow-y: scroll;
}

.modal-content2 {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  width: 340px;
}

#createListing {
  display: none;
}

.profilePic {
  position: absolute;
  top: 5rem;
  left: 1rem;
  width: 10vw;
  height: 10vw;
  max-width: 100px;
  max-height: 100px;
  border: 1px solid black;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#viewBids {
  position: absolute;
  left: 4rem;
  top: 60%;
  transition: ease-in-out 0.2s;
}

.btn {
  color: white;
}

.btn:hover {
  color: white;
}

.nav-link {
  color: black;
}

.profilePic:hover,
#viewBids:hover {
  scale: 1.05;
}

#loginBtn,
#guestLoginBtn {
  width: 44%;
}

#registerBtn,
#guestLoginBtn2 {
  width: 80%;
}

.welcomeBtns {
  width: 80%;
  font-weight: 600;
}

#search,
.newListing {
  width: 1.4rem;
  opacity: 0.7;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#search:hover,
.newListing:hover {
  opacity: 0.8;
  scale: 1.1;
}

.bidAmount {
  background-color: $primary;
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.profileLink {
  max-width: 60%;
}

.modal-comment-name {
  overflow: hidden;
}

.modal-comment {
  box-shadow: -0.5px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.bidBtn {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
}

.bidBtn:hover {
  color: white;
  scale: 1.05;
}

.offcanvas-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIcons {
  height: 2rem;
  transition: ease-in-out 0.2s;
  opacity: 0.9;
}

.menuIcons:hover {
  scale: 1.1;
}

// Media Queries

@media (max-width: 991.5px) {
  .arrowLeft,
  .arrowRight {
    display: none;
  }
  .logo {
    margin-top: 0.4rem;
  }
  .creditsDiv {
    position: relative;
    right: 0rem;
  }
  .postModal {
    width: 20rem;
  }

  #modalImage {
    width: 20rem;
  }
}

// Media Queries

@media (max-width: 599px) {
  .collapse {
    margin-top: 1rem;
  }

  .registerModal {
    width: 90vw;
  }
  .logoLink2 {
    background-image: url("../../assets/logo-short.png");
    margin-bottom: 0.3rem;
    width: 27px;
    height: 16px;
  }

  .creditsDiv {
    margin-left: 1rem;
  }
  .postModal {
    width: 17rem;
  }

  #modalImage {
    width: 17rem;
  }

  #newListing {
    padding-left: 0rem;
    margin-left: -1rem;
    color: black;
  }

  .profilePic {
    height: 50px;
    width: 50px;
    top: 4rem;
  }

  #myListingsDiv {
    gap: 0;

    width: 95vw;
  }

  #listingsDiv {
    gap: 0;
  }
  .modal-comments {
    height: 6rem;
  }
}

@media (max-height: 699px) {
  .postModal {
    width: 17rem;
  }

  #modalImage {
    width: 17rem;
    height: 8rem;
  }

  .modal-comments {
    height: 6rem;
  }

  .profilePic {
    margin-top: 1rem;
  }
}

@media (orientation: portrait) and (min-height: 700px) {
  #listingsDiv,
  #myListingsDiv {
    margin-top: 4rem;
  }
}

/* LOADING */
.loader {
  position: absolute;
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  margin-top: 7rem;
  margin-bottom: 18rem;
  scale: 1.5;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #ededed;
  box-shadow: 30px 0 0 #e78617;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #e78617;
  box-shadow: 30px 0 0 #ededed;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #e78617;
  }
  50% {
    box-shadow: 0 0 0 #e78617;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #e78617;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #ededed;
  }
  50% {
    box-shadow: 0 0 0 #ededed;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ededed;
    margin-top: 0;
  }
}
